/* Coolors Exported Palette - coolors.co/8f608a-c48abe-4f598a-77b6d9-f17e86 */

/* HSL */
$color1: hsla(306%, 20%, 47%, 1);
$color2: hsla(306%, 33%, 65%, 1);
$color3: hsla(230%, 27%, 43%, 1);
$color4: hsla(201%, 56%, 66%, 1);
$color5: hsla(356%, 80%, 72%, 1);

/* RGB */
$color1: rgba(143, 96, 138, 1);
$color2: rgba(196, 138, 190, 1);
$color3: rgba(79, 89, 138, 1);
$color4: rgba(119, 182, 217, 1);
$color5: rgba(241, 126, 134, 1);